.main-about {
  align-items: center;
  // Styling for the line height of text in the about-me section
  line-height: 1.2em;
  padding: 20px;
  h2 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  // styling for the profile image - responsive styling is further below
  img {
    display: block;
    margin: auto;
    max-width: 40vw;
    filter: grayscale(50%);
    border-radius: 3px;
  }

  .experience {
    margin-top: 25px;
    text-align: center;
    #resume {
      width: 70%;
      margin: auto;
    }
    .work-exp {
      
      width: fit-content;
      margin: 20px auto;
      .job {
        // Styling for the jobs worked. Center-align was hard to read, left works better 
        margin: 15px;
        text-align: left;
      }
      h3 {
        // 'fit-content' reduces the container size to only be as large as the content. this is a key part to getting the background highlight colour to only be as large as the text, and not the full line
        width: fit-content;
        font-size: 1.3em;
        background-color: rgba(0, 255, 0, 0.5);
        font-weight: 500;
        line-height: 0.8em;
        margin-bottom: 6px;
        text-align: left;
      }
      .company {
        // Bold the company name to make it stand out
        font-weight: bold;
      }
      p {
        margin: 0;
      }
    }
  }
  .skills {
    // fit content so containers would only be as large as the text. This is redundant right now, but useful if I wish to add a background colour in future
    width: fit-content;
    margin: 25px auto;

    ul {
      margin: auto;
      margin-bottom: 15px;
      // Remove the bullet points, Font Awesome icons look better
      list-style: none;
    }
  }
}



@media only screen and (min-width: 600px) {
  /* For tablets: */
  .main-about {
    width: 80vw;
    margin: 0 auto 45px;
    // Styling for the profile image on tablet + desktop
    align-items: flex-start;
    img {
      max-width: 25vw;
      display: inline;
      float: left;
      margin: 15px 30px 15px 0;
      
      }
      .experience {
        .work-exp {
          margin: 20px auto 0px 0px;
        }
    }

  }
  
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
}
