.main-post {
  align-items: center;
  padding-top: 0;
  article {
    padding-top: 10px;
    margin: 0 20px;
  }

  h3 {
    margin-top: 10px;
  }
  // Styling for the blog thumbnails
  img {
    display: block;
    margin: 20px auto;
    object-fit: cover;
    height: 180px;
    width: 300px;
  }
}


@media only screen and (min-width: 600px) {
  /* For tablets: */

}
@media only screen and (min-width: 769px) {
  /* For desktop: */

}
