.main-blog {
  align-items: center;
  
  .blog {
    margin: 20px;
  p {
    line-height: 1.2em;
  }
  }
  h3 {
    margin-top: 10px;
    color: #000000;
  }
  // Styling for the blog thumbnails
  img {
    display: block;
    margin: auto;
    object-fit: cover;
    height: 180px;
    width: 300px;


  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .main-blog {
    h3 {
      text-align: left;
    }
    // Styling for the blog thumbnails on tablet sizing
    img {
      height: 130px;
      width: 200px;
      display: inline;
      float: left;
      margin: 15px 30px 15px 0;
    }

  }
}
@media only screen and (min-width: 769px) {
  /* For desktop: */
  .main-blog {
    // styling for the blog thumbnails on desktop sizing 
    img {
      height: 150px;
      width: 280px;
    }

  }
}
