@mixin project-size {
  height: 250px;
  width: 250px;
}

.main-projects {
  justify-content: center;
  margin-bottom: 45px;
  // specific h2 styling (positioning) for the  projects page 
  h2 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #project-intro {
    width: 100%;
    // specific p styling (positioning) for the  projects page 
    p {
      margin: 10px auto;
      padding: 0 20px;
    }
  }
  a {
      color: white;
    &:hover {
      text-decoration: none;
      color: white;
      font-weight: normal;
    }
  }

  .project {
    @include project-size();
    margin: 20px;
    background-color: rgba(177, 30, 30, 0.8);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    // styling for the project image. The 'object-fit' property was the perfect way to achieve what I wanted. Sometimes an image would be portrait, other times landscape. I wanted to scale the picture so it filled its parent div entirely while retaining the proportions
    img {
      object-fit: cover;
      height: 85%;
      width: 100%;
    }
    .project-name {
      text-align: center;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: #008cba;
      text-align: center;
      &:hover {
        opacity: 0.9;
      }
      // styling for the text that appears over the project on hovering
      p {
        width: 85%;
        margin-top: 0;
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .main-projects {
    width: 80vw;
    margin: 0 auto 45px;
    #project-intro {
      p {
        text-align: center;
        width: 80%;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .main-projects {
    width: 80vw;
    margin: 0 auto 45px;
    #project-intro {
      p {
        
        width: 60%;
      }
    }
  }
}
